In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv("Position_Salaries_decision.csv")

In [4]:
data

            Position  Level   Salary
0   Business Analyst      1    45000
1  Junior Consultant      2    50000
2  Senior Consultant      3    60000
3            Manager      4    80000
4    Country Manager      5   110000
5     Region Manager      6   150000
6            Partner      7   200000
7     Senior Partner      8   300000
8            C-level      9   500000
9                CEO     10  1000000

In [5]:
X = data.iloc[: ,1:-1]
X

   Level
0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10

In [6]:
y = data.iloc[:,-1]
y

0      45000
1      50000
2      60000
3      80000
4     110000
5     150000
6     200000
7     300000
8     500000
9    1000000
Name: Salary, dtype: int64

In [17]:
from sklearn.tree import DecisionTreeRegressor
re = DecisionTreeRegressor(random_state=5)
re.fit(X, y)

DecisionTreeRegressor(random_state=5)

In [20]:
re.predict([[6.5]])

C:\Users\kumar\OneDrive\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

array([150000.])

In [12]:
#no need of feature scaling for decision tree and random forest